*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 130px;
    max-width: 320px;
    width: 90%;
    background-color: lightcoral;
    border: 2px solid rgba(110, 230, 248, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 6px black;
    padding: 30px 60px;
}

h1,
span {
    font-family: sans-serif;
}

div#clock {
    font-size: 28px;
}